{
    "INDEX_ID" : "0e8be9d5-99d7-4641-ae43-f72b40bb8a5c",
    "PROVIDER_ID": "urn:ogf:glue2:access-ci.org:organization:unknown.org",
    "GLOBUS_CLIENT_ID": "<ENTER_YOUR_GLOBUS_CLIENT_ID>",
    "GLOBUS_CLIENT_SECRET": "<ENTER_YOUR_GLOBUS_CLIENT_SECRET>",
    "SCOPES": "urn:globus:auth:scope:search.api.globus.org:ingest urn:globus:auth:scope:search.api.globus.org:search",
    "LOG_FILE": "var/publishing-example-1.log"
}
